<!---/*******************************************************************************************************
*                                                                                                      *
*           File name     :  about.ejs                                                               *
*           Student name :  Huzaifah Mahifa                                                           *
*           StudentID     :  300747824                                                                 *
*           Date  :  10/26/2021                                                                         *
*                                                                                                      *
********************************************************************************************************/ -->


<!-- Define the About Page-->
<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<div class="container">
  <div class="text-center">
    <img src="assets/profile.png" style="width:400x;height:300px;" alt="Profile-Pic">
  <hr class="my-1">
  <h1 class="display-3">Huzaifah Mahida</h1>
  <p class="lead">My name is Huzaifah Mahida, I am living in Toronto, ON Canada, I study Software Engineering Technology Advanced Diploma in Centennial College Canada,
    I have done the certification in CompTIA A+ and IT Essentials Certification in Cisco in Dec 2017, <br>I am software developer.
  </p>
  <p class="lead">Click below to download my resume!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="assets/Resume - Huzaifah Mahida.pdf" role="button">Download Resume (.PDF)</a>
  </p>
</div>
</div>
<%- include('partials/footer') -%>
