<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<div class="container">
  <h1 class="display-3">Hey, its Huzaifah Mahida</h1>
  <p class="lead">I’m a curious student when it comes to developing. Looking forward to learning. Welcome to my portfolio.</p>
  <hr class="my-1">
  <p class="lead">Click below to learn more about me!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/about" role="button">About me</a>
  </p>
</div>
<%- include('partials/footer') -%>