<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<div class="container">
<h1 class="text-center">Projects</h1>
<table width="1000" cellpadding="15">
        <tbody>
        <tr>
            <td>
                <img src="assets/project3.jpeg" width="450" height="350">
            </td>
            <td>
                <div class="text-center">
                <h2>Stock Search Desktop Application</h2>
                <p>This is a desktop application, it has ability to search the stock with specific company symbol.</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <img src="assets/project1.jpeg" width="450" height="350">
            </td>
            <td>
                <div class="text-center">
                    <h2>GPA Calculator in WPF Desktop Application</h2> </h2>
                <p>This is a Desktop Application, it contains add, edit and delete courses behalf of all provide courses it will calculate the GPA.</p>
                </div>
            </td>
        </tr>
        <br><br>
        <tr>
            <td>
                <img src="assets/project2.jpeg" width="450" height="350">
            </td>
            <td>
                <div class="text-center">
                    <h2>Sport Application in Desktop Application</h2>
                <p>This is a desktop application, it has ability to do CURD Operation, search any product and serialize the products into file.</p>
                </div>
            </td>
        </tr>
        <br><br>
    </tbody></table>
</div>
<%- include('partials/footer') -%>
