<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<div class="container">
<h1>Projects</h1>
<table width="1500" cellpadding="15">
        <tbody>
        <tr>
            <td>
                <h2>Stock Search Desktop Application</h2>
                <p>This is a desktop application, it has ability to search the stock with specific company symbol.</p>
            </td>
        </tr>
        <tr>
            <td>
                <h2>My Resume Portfolio </h2>
                <p>This is a Web Application, it's Resume Profile develop in express Node Js.</p>
            </td>
        </tr>
        <tr>
            <td>
                <h2></h2>
                <p>This is a desktop application, it has ability to search the stock with specific company symbol.</p>
            </td>
        </tr>
    </tbody></table>
</div>
<%- include('partials/footer') -%>
